[submodule "src/external/soraxas_toolbox"]
	path = src/external/cpp-soraxas_toolbox
	url = https://github.com/soraxas/cpp-soraxas_toolbox
[submodule "src/external/stats"]
	path = src/external/stats
	url = https://github.com/kthohr/stats
[submodule "src/external/gcem"]
	path = src/external/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "src/GaussianMixtureModel"]
	path = src/GaussianMixtureModel
	url = git@github.com:soraxas/GaussianMixtureModel.git
