git+https://github.com/soraxas/pybullet-planning@f580bad01479d657b9ee549b440e33706b10318d

git+https://github.com/soraxas/differentiable-robot-model@improved-performance

pytorch_lightning
plotly
numpy-quaternion
