git+https://github.com/soraxas/pybullet-planning@f580bad01479d657b9ee549b440e33706b10318d

git+https://github.com/facebookresearch/differentiable-robot-model@fac693814433c2062af558cbd8c8c6837729c547#egg=differentiable_robot_model

pytorch_lightning
plotly
